.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.img-wrapper img {
  width: 51px;
}

.addtocart img
{
  width: 100px;
  position: absolute;
  right: 1%;
  top: 1%;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
}

.btn-wrapper button{
  background-color: black;
  color: white;
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: red 0px 1px 6px;
}

.item
{
  float: left;
  width: 120px;
  padding: 20px;
}

.cartspan
{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 50px;
  width: 28px;
  height: 26px;
  box-shadow: red 0px 1px 6px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
